body,
html {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'PT Sans', sans-serif;
    padding-top: 98px;
}

.content-section {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

@media (min-width: 992px) {
    .content-section {
        padding-top: 7.5rem;
        padding-bottom: 7.5rem;
    }
}

.content-section-heading h2 {
    font-size: 2rem;
}

@media (min-width: 992px) {
    .content-section-heading h2 {
        font-size: 3rem;
    }
}

.content-section-heading h3 {
    font-size: 1rem;
    text-transform: uppercase;
}

.content-section-small {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

.text-faded {
    color: rgba(255, 255, 255, 0.7);
}

.scroll-to-top {
    position: fixed;
    right: 15px;
    bottom: 15px;
    width: 50px;
    height: 50px;
    text-align: center;
    color: white;
    background: rgba(52, 58, 64, 0.5);
    line-height: 45px;
}

.scroll-to-top:focus,
.scroll-to-top:hover {
    color: white;
    text-decoration: none;
}

.scroll-to-top:hover {
    background: #343a40;
}

.scroll-to-top i {
    font-weight: 800;
}

.header {
    min-height: 20rem;
    width: 100%;
    height: auto;
    max-height: 500px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header.contact {
    background-image: url('../img/bg-header.jpg');

}

.header.products {
    background-image: url('../img/products-banner.jpg');
    position: relative;
}

.header.products.soaps {
    background-image: url('../img/soaps.jpg');
    position: relative;
}

.header.products.hair {
    background-image: url('../img/banner-hair.jpg');
    position: relative;
}

.header.products.skin {
    background-image: url('../img/skin-banner.jpg');
    position: relative;
}

.header.products.kids {
    background-image: url('../img/kids-care.jpg');
    position: relative;
}

.header.products:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.25)
}

.header.products .text-wrapper {
    position: relative;
    z-index: 2;
}

.header.products .text-wrapper h1,
.header.products .text-wrapper h3 {
    color: #ffffff;
}

.header .text-wrapper {
    margin-left: auto;
    padding: 0 1em 2em;
    margin-right: 0;
}

.header h1 {
    font-size: 3rem;
    margin: 0;
    padding: 0;
}

.carousel-item {
    max-height: 500px;
}

.carousel-caption {
    bottom: 15%;
}

@media (max-width: 576px) {
    .carousel-caption {
        right: 0;
        left: 0;
    }
}

.carousel-item img {
    object-position: center;
    object-fit: cover;
    height: 500px;
    filter: brightness(60%);
}

.header .text-wrapper h1,
.header .text-wrapper h3 {
    text-shadow: 5px 1px 30px rgba(0, 0, 0, 0.4);
}

@media (min-width: 576px) {
    .header h1 {
        font-size: 3.5rem;
    }
}

@media (min-width: 992px) {
    .header h1 {
        font-size: 4.5rem;
        line-height: 1;
    }

    .header .text-wrapper {
        padding: 0;
        max-width: 45%;
    }
}

/* Top Menu */

#navbar-wrapper {
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    background: #1D809F;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

#navbar-wrapper .navbar-brand img {
    height: 72px;
    transition: all 0.3s ease-in-out;
}

#navbar-wrapper.navbar-shrink {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
}

#navbar-wrapper.navbar-shrink .navbar-brand img {
    height: 44px;
    transition: all 0.3s ease-in-out;
}

#navbar-wrapper #navbarNav .navbar-nav {
    margin: 20px 0 0;
    padding: 0;
    list-style: none;
}

@media (min-width: 992px) {
    #navbar-wrapper #navbarNav .navbar-nav {
        margin: 0;
    }
}

#navbar-wrapper #navbarNav .navbar-nav li.navbar-nav-item a {
    text-decoration: none;
    color: #000;
    padding: 10px 15px;
    font-size: 20px;
}

#navbar-wrapper #navbarNav .navbar-nav li.navbar-nav-item a:hover {
    text-decoration: none;
    color: #1D809F;
    background: rgba(255, 255, 255, 0.2);
}

#navbar-wrapper #navbarNav .navbar-nav li.navbar-nav-item a:active,
#navbar-wrapper #navbarNav .navbar-nav li.navbar-nav-item a:focus {
    text-decoration: none;
}

#navbar-wrapper #navbarNav .navbar-nav li.navbar-nav-item.active a,
#navbar-wrapper #navbarNav .navbar-nav .btn-group.active>a {
    color: #1D809F;
}

#navbar-wrapper #navbarNav .navbar-nav li.navbar-nav-item a.active {
    color: #1D809F;
    background-color: transparent;
}


.navbar-nav>.navbar-brand {
    font-size: 1.2rem;
    background: rgba(52, 58, 64, 0.1);
    height: 80px;
    line-height: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
}

.navbar-nav>.navbar-brand a {
    color: #fff;
}

.navbar-nav>.navbar-brand a:hover {
    color: #fff;
    background: none;
}

#navbar-wrapper.active {
    right: 250px;
    width: 250px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.service-icon {
    background-color: #fff;
    color: #1D809F;
    height: 7rem;
    width: 7rem;
    display: block;
    line-height: 7.5rem;
    font-size: 2.25rem;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
}

.callout {
    padding: 15rem 0;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), url("../img/bg-callout.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.callout h2 {
    font-size: 3.5rem;
    font-weight: 700;
    display: block;
    max-width: 30rem;
}

.products-item {
    display: block;
    position: relative;
    overflow: hidden;
    max-width: 530px;
    margin: auto;
}

.products-item .caption {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: rgba(33, 37, 41, 0.2);
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    align-items: flex-end;
}

.products-item .caption .caption-content {
    color: #fff;
    margin: 0;
    text-align: center;
    padding: 15px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25);
}


.products-item .caption .caption-content {
    font-weight: 300;
    font-size: 1.2rem;
    transition: all 0.25s ease-in;
}

@media (min-width: 992px) {
    .products-item {
        max-width: none;
        margin: 0;
    }

    .products-item .caption {
        -webkit-transition: -webkit-clip-path 0.25s ease-out, background-color 0.7s;
        -webkit-clip-path: inset(0px);
        clip-path: inset(0px);
    }

    .products-item .caption .caption-content {
        transition: all 0.25s ease-in;
        height: 100px;

    }

    .products-item img {
        -webkit-transition: -webkit-clip-path 0.25s ease-out;
        -webkit-clip-path: inset(-1px);
        clip-path: inset(-1px);
    }

    .products-item:hover img {
        -webkit-clip-path: inset(1rem);
        clip-path: inset(1rem);
    }

    .products-item:hover .caption {
        background-color: rgba(90, 160, 159, 0.9);
        -webkit-clip-path: inset(1rem);
        clip-path: inset(1rem);
    }

    .products-item:hover .caption .caption-content {
        height: 120px;
        transition: all 0.25s ease-in;

    }
}

#products-decription .details {
    max-height: 100px;
    overflow: hidden;
    margin-bottom: 1em;
    transition: all 0.3s ease-out;
}

#products-decription .details.expanded {
    height: auto;
    max-height: 700px;
    transition: all 0.3s ease-in;
}

#products-decription .details.expanded.overflow {
    overflow: initial;
}

.zoom-img {
    width: 100%;
    display: block;
}

.zoom-img img {
    width: 100%;
}

#products-decription .details p {
    margin-bottom: 0;
}


footer.footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer.footer nav {
    margin: 2em auto;
}

footer.footer nav .navbar-nav-item {
    margin: 1em;
}

footer.footer nav .navbar-nav-item a {
    font-size: 1.2em;
}

ul .social-link {
    display: block;
    height: 4rem;
    width: 4rem;
    line-height: 4.3rem;
    font-size: 1.5rem;
    background-color: #1D809F;
    transition: background-color 0.15s ease-in-out;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
    background-position: center;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
}

ul .social-link.facebook {
    background-image: url("../img/fb.png");
}

ul .social-link.instagram {
    background-image: url("../img/insta.png");
}

ul .social-link:hover {
    background-color: #fafafa;
    text-decoration: none;
}

a {
    color: #1D809F;
}

a:hover,
a:focus,
a:active {
    color: #155d74;
}

.spacer {
    width: 100%;
    clear: both;
    height: 8px;
}

.bold {
    font-weight: bold;
}

.btn {
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.1);
    font-weight: 700;
}

#navbar-wrapper #navbarNav .navbar-nav li.navbar-nav-item .btn-group>a.js-scroll-trigger {
    padding-right: 0;
}

.btn-group .btn.btn-light {
    box-shadow: none;
    padding: 10px 10px 5px;
}

.navbar-light .navbar-toggler {
    border-color: rgba(0, 0, 0, 0);
}

.navbar-nav-item {
    display: inherit;
}

.img-thumbnail {
    max-width: 100%;
    margin-right: 20px;
    margin-bottom: 20px;
}

.img-thumbnail.float-right {
    margin-right: 0;
    margin-left: 20px;
}

@media (min-width: 768px) {
    .img-thumbnail {
        max-width: 33.333333%;
    }
}

@media (max-width: 768px) {
    .hide-overflow {
        overflow: hidden;
    }
}